{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Spiderman</h1>
        <p>
            super heroue que lucha contra el mied de las personas es el mejor super haorie
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/spiderman.png" class="img-thumbnail">
    </div>




</div>

{{> footer }}